.DS_Store
.gradle/
.idea/
build/
app/build/
local.properties

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.iws
*.ipr
*~
*.swp
